html{
    
    background-image: url(back1.jpg);

}
body{
	margin:0px auto;
}

p{
    font-family: arial;
    
}

#backgroundatas img{
	height: 500px;
	width: 100%;
	position: absolute;
	padding: 

	
}
#header
{
    padding-bottom: 5px;
    position: relative;

}

#header h5
{
    float: right;
    position: absolute;

}

.clearfix {
    clear: both;
    position: relative;
    border-width: 2px solid black;

}


ul {
	
    background:black;
    padding-bottom: 2.5px;
    position: relative;
}
ul li a{
	color: white;
	font-weight: bold;
	font-style: arial;
	font-size: 1.2em;
	text-decoration: none;
	position: relative;
	padding-top: 10px;
	padding-bottom:10px;
}
ul li {
    color: #F9F9F9;
    display: block;
    float: left;
    padding: 20px;
    position: relative;
}
ul li:visited {
    color: #f9f9f9;
}
ul li:hover {
    text-decoration: none;
    background: #53bd84;
}
ul li:active {
    position: relative;
    top: 0;
}



li{color: #1c4991; text-decoration: none;}

#pos{
    float: right;
}

#header ul ul li{ 
    float: left;
    width: 100px;
    padding: 15px 8px;
    text-align: center;
    position: relative;
    list-style: none;
}

#header ul li:hover {
 	cursor: pointer;
} 

#header ul ul { 
    position: absolute;
    padding: 0px;
    top: 100%;
    left: 0px;
    display: none;
}

#header ul li:hover ul {
	display: block;
}

#isi
{
    padding-top: 10px;
    width: 900px;
    height: auto;
    margin-top: 160px;
    background-color: white;
    border: 2px solid black;
    margin-left: 250px;
    border-radius: 50px;
    text-align: justify;
    position: relative;
    font-size: 1.1em;
}


#newposthere{
    text-align: center;
}

#fotoprofil1
{
    width: 150px;
    height: 150px;
    border: 1px solid red;
    margin: 15px;
    float: left;
    border-radius: 5px;
    position: relative;
    display:inline-block;
}

#datamahasiswa
{
    float: left;
    position: relative;
    left: 30%;
    bottom: 15%;
}

#pro{
    text-align: center;
    position: relative;
}

.footer h4
{
    text-align: center;

}

#login
{
    
  width:400px;
  margin:0 auto;
  margin-top:8%;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
    
}

#login fieldset{
  background:#6687ff;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
  border-radius:5px;
}

#login input[type="text"],input[type="password"]{
  width:90%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:90%;
  color:#555;
  border-radius:5px;
}


input[]{
  width:100%;
  height:20%;
  background:Skyblue;
  border:0;
  padding:4%;
  font-weight:897;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
#submitpost{
	width:15%;
	height:15px;
	font-size: 80%;

}
#trisno {
    margin-top: 50px;
}

label [for="pesan"]{
	font-weight: bold;

}

table {
  position: relative;
}

#posisi{

  float: left;
  padding:80px;
  margin-top: 500px;
  margin-bottom: 500px;
  position:relative;  
}

#kotakpost{
  height: 200px;
  width: 860px;
}
#isipro
{
    padding-top: 10px;
    width: 900px;
    height: auto;
    margin-top: 20%;
    background-color: white;
    border: 2px solid black;
    margin-left: 16.5%;
    border-radius: 50px;
    text-align: justify;
    position: relative;
    font-size: 1.1em;
}

#galeri{
	position: relative;
}

#konten{
    padding-top: 10px;
    width: 800px;
    height: 1500px;
    margin-top: 0px;
    background-color: transparent;
    margin-left: 350px;
    text-align: center;
    position: relative;
    font-size: 1.1em;
    top:250px;


}

#konten img{
  top: 20%;
  height: 200px;
  width: 150px;
  position:relative;
  

}

#container{
  height:30%;
  width:50%;
  margin:2px auto;
  position:relative;
  left:0px;
  top:200px;
  border-radius: 3px;
  

}
#slideimg{
  height:450px;
  width:100%;
  position:absolute;
}
#panah_kiri{
  height:450px;
  width:100px;
  position:absolute;
  left:0px;
  top:150px; 
}
#panah_kanan{
  height:450px;
  width:100px;
  position:absolute;
  right:0px;
  top:150px;  
}

.p_kiri{
  height:50px;
  width:50px;
  position:absolute; 
  top:40px;
  left:0px;
}

.p_kanan{
  height:50px;
  width:50px;
  position:absolute; 
  top:40px;
  right:0px;
}

#upload{
  margin: 50px;
  position: relative;
  left: 50%;
  bottom: 50%;

}

#fotoprofil{
  display:inline-block;
  position:relative;
  left:15px;
}

.judul{
  position:relative;
  left:15px;
}

#fotoprofil img{
  height: 150px;
  width: 150px;
}

#infoMhs{
  display:inline-block;
  position:relative;
  left:20px;
}

#isipost
{
    padding-top: 10px;
    width: 900px;
    height: auto;
    margin-top: 160px;
    background-color: white;
    border: 2px solid black;
    margin-left: 250px;
    border-radius: 50px;
    text-align: justify;
    position: relative;
    font-size: 1.1em;
   

}

.hasilpost{
    text-align: center;
}
#warper{

  background-color: #137fec;
  margin-top: 7.5%;
  margin-left: 40%;
  width: 290px;
  height: 450px;
  border: solid #137fec 1px;
  border-radius: 3px;
}

#warm{
  padding: 2%;
  background-color: white;
  width: auto;
  height: 16%;
  border-bottom:  solid #137fec 1px;
}
#hasil{
  background: white;
  width: auto;
  height: 100%;
  position: relative;
   
  padding-left: 5px;
  padding-top: 10px;
}

#btnSubmit{
  background-color:skyblue;
}

#buttonSubmit{
  position:relative;
  left:540px;
}

.tabelMyPost{
  display:inline-block;
}

.tabelMyPost td{
  width:450px;
}

.postImg{
  display:inline-block;
  width:150px;
  height:150px;
  vertical-align:top;
}

.judulPost{
  font-size:16pt;
  font-weight:bold;
}

.btnEdit{
  position:relative;
  left:500px;
}

.link{
  text-decoration:none;
  color:black;
}

.link:hover{
  color:blue;
}